{
  "instances": {
    "chaos.social": "secret",
    "fem.social": "secret"
  },
  "spreads": [
    {
      "source": "chaos.social",
      "drain": "fem.social",
      "hashtags": [
        "gpn19",
        "cccamp19"
      ]
    }
  ]
}
